/* 
primary-color: #F9AC38;
secondary-color: #0451F8;
third-color: #FEF7F0;
fourth-color: #FA8B46;
*/

* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.6em;
    font-family: Poppins, Arial, Helvetica, sans-serif;
}